<!--div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div-->
<div>
    <div>
        <mat-grid-list cols="8" rowHeight="100px">
            <mat-grid-tile [colspan]="1">
                <!-- <mat-form-field>
                    <input matInput placeholder="Buscar" [(ngModel)]='query'>
                </mat-form-field> -->
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <mat-form-field>
                    <input matInput placeholder="Pet" [(ngModel)]='petName'>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <mat-form-field>
                    <input matInput placeholder="Raça" [(ngModel)]='petRace'>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <mat-form-field>
                    <input matInput placeholder="Serviço" [(ngModel)]='serviceName'>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <mat-form-field>
                    <input matInput placeholder="Tipo de Execução" [(ngModel)]='serviceType'>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <mat-form-field>
                    <input matInput placeholder="Profissional" [(ngModel)]='professionalName'>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <mat-form-field>
                    <input matInput placeholder="Cliente" [(ngModel)]='clientName'>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <button mat-raised-button (click)="pageChange()" class="button-center">Buscar</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container [matColumnDef]="item" *ngFor="let item of columns; let i = index">
            <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> {{headers[i]}} </th>
            <td mat-cell *matCellDef="let row"> {{row[columns[i]]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: selectedColumns;">
        </tr>
    </table>
</div>