.text-center {
    font-family: "Raleway", Helvetica, Arial, serif;
    font-weight: 800;
    font-style: normal;
    font-size: 200%;
    color: rgba(133, 139, 158, 1.0);
    margin-left: 30%;
    margin-bottom: 2%;
    margin-top: 5%;
}

.radio-center {
    margin-left: 35%;
}

.button-center {
    margin-left: 35%;
    margin-bottom: 50px;
    width: 150px;
    height: 50px;
    color: white;
    background-color: lightseagreen;
}

.image-center {
    float: left;
    margin-right: 10px;
    width: 7vw;
    height: 10vh;
    margin-top: -2%;
}

.image-card {
    font-size: larger;
    margin-right: 1%;
    color: #05c0a6
}

mat-card.single-contact {
    background-color: white;
    color: darkgrey;
    width: 90vw;
    margin-bottom: 2%
}

mat-label {
    color: black;
}

.company-page {
    max-height: -webkit-fill-available;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 90%;
}