<form *ngIf="formModel" [formGroup]="formModel">
    <div class="text-center">
        <span>
            <i class="fas fa-address-book image-card"></i>
            <small>{{title}}</small>
        </span>
    </div>

    <mat-card>
        <mat-card-title>
            <span>
                <i class="fas fa-building image-card"></i>
                <small>Cliente</small>
            </span>
        </mat-card-title>
        <mat-grid-list cols="3" rowHeight="100px">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <mat-select [formControl]="formModel.get('owner')">
                        <mat-option *ngFor="let owner of clients" [value]="owner">
                            {{owner.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formModel.get('owner').hasError('required')">
                        Dono é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
    </mat-card>

    <mat-card class="single-contact">
        <mat-grid-list cols="6" rowHeight="100px">
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Nome" formControlName="name">
                    <mat-error *ngIf="formModel.get('name').hasError('required')">
                        Nome é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Tipo" formControlName="type">
                    <mat-error *ngIf="formModel.get('type').hasError('required')">
                        Tipo é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Raça" formControlName="race">
                    <mat-error *ngIf="formModel.get('race').hasError('required')">
                        Raça é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                    <mat-label>Tamanho</mat-label>
                    <select matNativeControl formControlName="petSizeType">
                        <option value="SMALL">Pequeno</option>
                        <option value="MEDIUM">Médio</option>
                        <option value="BIG">Grande</option>
                    </select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Observações" formControlName="observations">
                    <mat-error *ngIf="formModel.get('observations').hasError('required')">
                        Observações é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <mat-checkbox formControlName="canTakePictures">Pode tirar fotos?</mat-checkbox>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>

    <button mat-raised-button class="button-center" (click)="registerPet()">{{saveLabel}}</button>
</form>