<form *ngIf="formModel" [formGroup]="formModel">
    <div class="text-center">
        <span>
            <i class="fas fa-address-book image-card"></i>
            <small>{{title}}</small>
        </span>
    </div>

    <mat-card class="single-contact">
        <mat-grid-list cols="6" rowHeight="100px">
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Nome" formControlName="name">
                    <mat-error *ngIf="formModel.get('name').hasError('required')">
                        Nome é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="E-mail" formControlName="email">
                    <mat-error *ngIf="formModel.get('email').hasError('required')">
                        E-mail é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="RG" formControlName="rg">
                    <mat-error *ngIf="formModel.get('rg').hasError('required')">
                        RG é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="CPF" formControlName="cpf">
                    <mat-error *ngIf="formModel.get('cpf').hasError('required')">
                        CPF é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Endereço" formControlName="address">
                    <mat-error *ngIf="formModel.get('address').hasError('required')">
                        Endereço é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Pataz" formControlName="patazAmount">
                    <mat-error *ngIf="formModel.get('patazAmount').hasError('required')">
                        Pataz é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>

    <button mat-raised-button class="button-center" (click)="registerClient()">{{saveLabel}}</button>
</form>