.text-center {
    font-family         : "Raleway", Helvetica, Arial, serif;
    font-weight         : 800;
    font-style          : normal;
    font-size           : 200%;
    color               : rgba(133, 139, 158, 1.0);
    margin-left: 44%;
    margin-bottom: 2%;
    margin-top: 5%;
  }
mat-card{
    background-color:white;
    width: 90vw;
    height: 75vh;
}
mat-card-header{
    align-items: center;
    flex-direction: column;
    color: rgb(133, 139, 158)
}
mat-card-content{
    align-items: center;
    flex-direction: column;
}