<div class="text-center">
    <span>
        <small>Clientes</small>
    </span>
</div>
<mat-card>
    <mat-card-content fxLayout="column" fxFlexAlign="center" fxFlex="auto">
        <app-table [columnLabels]="headers" [canEdit]="true" [columns]="columns" editRoute="/home/clients/edit/" addRoute="/home/clients/add" entity="clients"></app-table>
    </mat-card-content>
</mat-card>