<!--div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div-->
<div>
    <div class="input-center">
        <mat-form-field>
            <input matInput placeholder="Buscar" [(ngModel)]='query'>
        </mat-form-field>
        <button mat-raised-button (click)="pageChange()" class="button-center">Buscar</button>
        <a *ngIf="[canEdit]" mat-mini-fab [routerLink]="addRoute" class="button-plus">+</a>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container [matColumnDef]="item" *ngFor="let item of columns; let i = index">
            <th class="table-header" mat-header-cell *matHeaderCellDef mat-sort-header> {{columnLabels[i]}} </th>
            <td mat-cell *matCellDef="let row"> {{row[columns[i]]}} </td>
        </ng-container>

        <ng-container matColumnDef="id" *ngIf="[canEdit]">
            <th class="table-header edit-column" mat-header-cell *matHeaderCellDef mat-sort-header> {{columnLabels[columnLabels.length - 1]}} </th>
            <td class="edit-column" mat-cell *matCellDef="let row"><a mat-button [routerLink]="editRoute + row['id']"><i class="far fa-edit edit-icon"></i></a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: selectedColumns;" (click)="sendRowClickedEvent(row); selectedRow = row"
            [ngClass]="{ 'selected': row === selectedRow }">
        </tr>
    </table>

    <mat-paginator [length]="totalRegisters" (page)="pageChange()"></mat-paginator>
</div>