.table-list{
    width: 100%;
    border-spacing: 0px;
    color:#858b9e;
}
.table-header{
    background-color: #ebebeb;
    border-top: 1px solid #858b9e;
}
.table-header:first-of-type{
    border-left: 1px solid #858b9e;
}
.table-header:last-of-type{
    border-right: 1px solid #858b9e;
}
.table-empty-row{
    text-align: center;
}
.table-row{
    text-align: center;
}
.edit-icon{
    color: rgb(91, 195, 190);
}
table {
  width: 100%;
}
.button-center {
    color: white;
    background-color: lightseagreen;
    margin-top: 20px;
    margin-left: 20px;
  }

.input-center {
    width: 100%;
    margin-left: calc(35vw);
  }

.edit-column{
    width: 3%;
}
.button-plus {
    background-color: lightgreen;
    margin-left: 20px;
  }

.selected {
    background-color: lightseagreen;
}