.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.mat-toolbar.mat-primary {
  background: #2c5a9c;
  color: #fff;
  min-height:6vh;
  height: 7vh;
}

.mat-list-item{
  font-family: 'Titillium Web', sans-serif;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.mat-toolbar h1{
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

.mat-toolbar h2{
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
  }

.initial-button{
  margin-right: 10px;
  background: #2c5a9c;
  border: none;
  cursor: pointer;
}
