<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button class="initial-button" (click)="sidenav.toggle()">
            <i class="material-icons md-light">menu</i>
        </button>
        <h1>Doggis</h1>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="menu-example">
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/home/clients'">Clientes</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/home/pets'">Pets</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/home/report'">Relatório</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="min-height: 93vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>