/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
body{
  margin:0px;
  background-color: rgba(244, 246, 247, 1.0);
  font-family: 'Titillium Web', sans-serif;
}
.message-error{
  font-weight: bold;
  background-color: #ff7f7f;
}
.message-info{
  background-color: #9999ff;
}
.message-success{
  background-color: #99cc99;
}
.message-warning{
  font-weight: bold;
  background-color: #fff294;
}
.status-fail{
    background-color: #DB4437
}
.status-success{
    background-color: #0F9D58
}
.status-nd{
    background-color: white
}
.status-skipped, .status-divergent{
    background-color: #F4B400
}