header {
    height: calc(5vh);
    background-color: rgb(33, 33, 33);
    color: white;
}

.logo {
    max-width: 100%;
    height: 45px;
}

.section-main {
    min-height: calc(95vh);
}

mat-drawer-content {
    background-color: rgba(244, 246, 247, 1.0);
    overflow: unset;
}

mat-drawer {
    background-color: rgb(33, 33, 33);
    color: white;
}

mat-drawer-container {
    color: white;
}

.horizontal-line {
    width: 100%;
    border-bottom: 2px solid;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}

.tab-icon {
    margin-right: 10px;
}